.idea
universal_dependency_parser
spacy_dependency_parser
*/node_modules
/dataset/refined-requirements-1/~$cument.docx
/dataset/refined-requirements-1/script.py.bak
/dataset/refined-requirements-1/script.py
/dataset/refined-requirements-1/document.docx
