{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="about-container">
    <div>
        <p>
            این سامانه مربوط به پایان نامه با عنوان «استخراج خودکار نمودار کلاس از متن نیازمندی‌ها در زبان فارسی» است.

        </p>
        <p>
            پایان‌نامه توسط «علی قیومی» و راهنمایی استاد «دکتر محمد‌هادی علائیان» انجام گرفته است.
        </p>
        <p>
            مجموعه‌داده و کدها از طریق
            <a class="color-link" href="https://github.com/aliqb/PR2CD" target="_blank">گیتهاب</a>
            در دسترس است.
        </p>
        <p>
            لطفاً به منظور اعمال نظر یا ارسال اشتباهات صورت گرفته توسط سامانه و ارسال فیدبک به آدرس زیر پیام ارسال کنید.
        </p>
        <a class="english">kntupr2cd@gmail.com</a>
    </div>
    <div class="thesis">
        <p class="abstract">
            مهندسی نیازمندی‌های نرم‌افزار و تحلیل نیازمندی‌ها نخستین مرحله در توسعه یک نرم‌افزار است و تأثیر زیادی در
            مراحل بعدی و نتیجه‌ی نهایی دارد. از جمله کارهایی که در مهندسی نیازمندی‌ها انجام می‌گیرد مدل‌سازی نیازمندی به
            شکل نمودارهای مختلف است. نیازمندی‌ها به زبان طبیعی نوشته می‌شوند و این باعث می‌شود فرایند تبدیل آن‌ها به
            نمودار سخت و زمان‌بر باشد؛مهندسی نیازمندی‌های نرم‌افزار و تحلیل نیازمندی‌ها نخستین مرحله در توسعه یک
            نرم‌افزار است و تأثیر زیادی در مراحل بعدی و نتیجه‌ی نهایی دارد. از جمله کارهایی که در مهندسی نیازمندی‌ها
            انجام می‌گیرد مدل‌سازی نیازمندی به شکل نمودارهای مختلف است. نیازمندی‌ها به زبان طبیعی نوشته می‌شوند و این
            باعث می‌شود فرایند تبدیل آن‌ها به نمودار سخت و زمان‌بر باشد؛ پژوهش‌هایی برای خودکار کردن این روند انجام
            گرفته است که اکثرا مربوط به زبان انگلیسی هستند. این پروژه به همین دلایل برای استخراج خودکار
            نمودار کلاس از متن نیازمندی فارسی توسعه یافته است. متن نیازمندی به زبان فارسی از کاربر دریافت می‌شود؛ ابتدا
            بر روی این متن با پردازش زبان طبیعی
            اطلاعات زبانی و ساختاری استخراج می‌شود؛ سپس برای هر یک از عناصر نمودار دسته‌ای از قوانین وجود دارد که متن و
            اطلاعات مرحله قبل در برابر این قوانین بررسی می‌گردند و اجزای نمودار استخراج می‌گردد. در نهایت نمودار به فرمت
            mermaid تبدیل شده و نمایش داده می‌شود.
        </p>
        <a class="thesis-link" href="{% static 'thesis.pdf' %}" target="_blank">قسمتی از پایان‌نامه</a>
    </div>

</div>
{% endblock %}