{% extends "base.html" %}

{% block content %}
<div class="about-container">
    <p>
        این سامانه مربوط به پایان نامه با عنوان «استخراج خودکار نمودار کلاس از متن نیازمندی‌ها در زبان فارسی» است.

    </p>
    <p>
        پایان‌نامه توسط «علی قیومی» و راهنمایی استاد «دکتر محمد‌هادی علائیان» انجام گرفته است.
    </p>
    <p>
        مجموعه‌داده و کدها از طریق
        <a class="color-link" href="https://github.com/aliqb/PR2CD" target="_blank">گیتهاب</a>
        در دسترس است.
    </p>
    <p>
        لطفاً به منظور  اعمال نظر یا ارسال اشتباهات صورت گرفته توسط سامانه و ارسال فیدبک به آدرس زیر پیام ارسال کنید.
    </p>
    <a class="english">kntupr2cd@gmail.com</a>
</div>
{% endblock %}