{% extends "base.html" %}
{% block content %}
<div>
    <div class="main-container">
        <div class="diagram-container">
            <div id="diagram-div">
            </div>
            <button id="svg-btn" class="btn">ذخیره</button>

        </div>
        <div class="sentences-container">
            <div class="sentences-main-mode">
                <div class="d-flex sentences-btn-container">
                    <button class="btn outline edit-req-btn">ویرایش</button>
                    {% if warning_nodes|length > 0 %}
                    <p class="warning-hint">تغییر موارد هایلایت زرد شده می‌تواند در بهبود عملکرد مؤثر باشد.</p>
                    {% endif %}
                </div>

            </div>
            <div class="sentences-edit-mode d-none">

                <form action="{% url 'UI:submit' %}" method="post">
                    {% csrf_token %}

                    <div class="d-flex sentences-btn-container sentences-edit-node">
                        <button href="{% url 'UI:index' %}" class="btn outline cancel-req-btn" type="button">انصراف
                        </button>
                        <button href="{% url 'UI:index' %}" class="btn">ذخیره</button>
                    </div>
                    <textarea name="req" class="sentence-textarea" rows="20">{{ req_text }}</textarea>
                </form>

            </div>
        </div>
    </div>


    <div class="d-flex centering">
        <a href="{% url 'UI:index' %}" class="btn outline">بازگشت</a>
    </div>
    <!--    <button id="export-btn">test</button>-->
    <!--    <button id="svg-btn">test-svg</button>-->

</div>
<script>
    mermaid.initialize({startOnLoad: true, securityLevel: 'loose'});
    const svgButton = document.getElementById("svg-btn")
    const sentencesMainContainer = document.querySelector('.sentences-main-mode')
    const sentencesEditContainer = document.querySelector('.sentences-edit-mode')
    const editSentencesBtn = document.querySelector('.edit-req-btn')
    const cancelSentencesBtn = document.querySelector('.cancel-req-btn')
    const warning_nodes = JSON.parse('{{ warning_nodes|safe|escapejs }}')
    drawDiagram()
    write_requirement()


    editSentencesBtn.addEventListener('click', onEdit)
    cancelSentencesBtn.addEventListener('click', onCancelEdit)
    svgButton.addEventListener('click', exportSvg)

    async function drawDiagram() {
        const umlData = JSON.parse('{{ result|safe|escapejs }}');
        element = document.querySelector('#diagram-div');
        let diagramDef = `classDiagram`;
        const reg = /[\s‌]/g
        const relationArrows = {
            GENERALIZATION: '--|>',
            AGGREGATION: '--o',
            COMPOSITION: '--*',
            ASSOCIATION: '-->'
        }
        diagramDef += '\n' + umlData.classes.map(item => {
            const attrs = item.attributes.map(attr => attr.replaceAll(reg, '_')).join('\n')
            const operations = item.operations.map(attr => `${attr.replaceAll(reg, '_')}()`).join('\n')
            return `class ${item.text.replaceAll(reg, '_')}{
                ${attrs}
                ${operations}
                }`
        }).join('\n')
        const relations = umlData.relations.map(relation => {
            let def = `${relation.source.replaceAll(reg, '_')} ${relationArrows[relation.relation_type]} ${relation.target.replaceAll(reg, '_')}`
            if (relation.label) {
                def += ` : ${relation.label.replaceAll(reg, '_')}`
            }
            return def
        }).join('\n')
        diagramDef += '\n' + relations
        // diagramDef += '\n' + umlData.classes.map(item => {
        //     return `click ${item.text.replaceAll(reg, '_')} call test()`
        // }).join('\n')
        const {svg, bindFunctions} = await mermaid.render('graphDiv', diagramDef);
        element.innerHTML = svg;
        // This can also be written as `bindFunctions?.(element);` using the `?` shorthand.
        if (bindFunctions) {
            bindFunctions(element);
        }
    }

    function test(item) {
        console.log('test', item)
    }

    function write_requirement() {
        const requirement = JSON.parse('{{ req|safe|escapejs }}');
        const p = document.createElement('p')
        p.classList.add('sentences-p')
        requirement.sentences.forEach(sentence => {
            const sentenceElement = get_sentence_element(sentence)
            // sentenceElement.innerText += '. '
            p.appendChild(sentenceElement)
        })
        sentencesMainContainer.appendChild(p)
    }

    function get_sentence_element(sentence) {
        const sentenceContainer = document.createElement('span')
        sentenceContainer.classList.add('sentence')
        sentenceContainer.classList.add(`s-${sentence.index}`)
        // sentence_container.innerText = `${sentence.text}. `
        sentence.nlp_nodes.forEach((node, index) => {
            const nodeContainer = document.createElement('span')
            nodeContainer.classList.add('node')
            nodeContainer.classList.add(`n-${node.address}`)

            nodeContainer.innerText = index == 0 || node.tag == 'PUNCT' ? node.text : ` ${node.text}`
            if (index == sentence.nlp_nodes.length - 1) {
                nodeContainer.innerText += '.'
            }
            if (node.tag === 'VERB') {
                nodeContainer.innerText = nodeContainer.innerText.replace('_', '‌')
            }
            if (node_has_warning(sentence.index, node.address)) {
                nodeContainer.classList.add('node-warning')
            }
            sentenceContainer.appendChild(nodeContainer)
        })
        return sentenceContainer
    }


    function onEdit() {
        sentencesMainContainer.classList.add('d-none')
        sentencesEditContainer.classList.remove('d-none')
    }

    function onCancelEdit() {
        sentencesMainContainer.classList.remove('d-none')
        sentencesEditContainer.classList.add('d-none')
    }

    function node_has_warning(sentence_index, node_address) {
        return warning_nodes.some(pair => pair[0] === sentence_index && pair[1] === node_address)
    }

    function exportSvg() {
        // Select the rendered SVG element
        const svgElement = document.querySelector("svg");

        // Clone the SVG element to modify without affecting the original
        const svgClone = svgElement.cloneNode(true);

        // Create a style element with embedded styles
        const styleElement = document.createElement("style");
        styleElement.textContent = `
        svg {
          font-family: none !important;
        }
      `;

        // Insert the style element at the beginning of the cloned SVG
        svgClone.insertBefore(styleElement, svgClone.firstChild);

        // Serialize the modified SVG
        const svgData = new XMLSerializer().serializeToString(svgClone);

        // Create a Blob and URL for the modified SVG data
        const blob = new Blob([svgData], {type: "image/svg+xml;charset=utf-8"});
        const url = URL.createObjectURL(blob);

        // Create a link to download the SVG file
        const link = document.createElement("a");
        link.href = url;
        link.download = "diagram.svg";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
        URL.revokeObjectURL(url);
    }

</script>
{% endblock %}