{% extends "base.html" %}
{% block content %}
<div class="full-window d-flex">
    <form action="{% url 'UI:submit' %}" method="post" class="m-auto d-flex flex-col centering">
        {% csrf_token %}
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        <div class="d-flex flex-col">
            <label for="req" class="main-prompt">متن نیازمندی را وارد کنید</label>
            <textarea name="req" id="req" class="req-input" rows="20">{{ req }}</textarea>
        </div>
        <div>
            <input type="submit" value="ارسال" class="btn">
        </div>
    </form>
</div>
{% endblock %}