<!DOCTYPE html>
{% load static %}

<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>PR2CD</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <script src="{% static 'mermaid/dist/mermaid.min.js' %}"></script>


</head>
<body>
<div class="content">
    {% block content %}

    {% endblock %}
</div>
</body>
<script type="module" src="{% static 'pdfjs-dist/build/pdf.mjs' %}"></script>
<script type="module" src="{% static 'pdfjs-dist/build/pdf.worker.mjs' %}"></script>
<script  src="{% static 'mammoth/mammoth.browser.min.js' %}"></script>


</html>